:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  font-size: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--dark-blue);
}
img { width: 100%; }

.main {
  background: url('../images/pattern-curve.svg');
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.testimonial {
  flex-shrink: 0;
  width: 100%;
  padding: 55px 34px;
  background: url('../images/pattern-bg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: -17px;
  transition: transform 100ms linear;
}
/* testimonial slider */
.testimonial-slider {
  position: relative;
  padding: 0 25px;
}
.testimonial-slider-images {
  display: flex;
  position: relative;
}
.testimonial-slider-images__image {
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.3);
  transition: transform 100ms linear;
}
.testimonial-slider-images__image:not(:first-child) {
  position: absolute;
  left: 97vw;
}
.testimonial-slider-controllers {
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  width: 80px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  transition: transform 100ms linear;
}
.testimonial-slider-controllers:hover {
  transform: translateX(-50%) scale(1.1);
  transition: transform 100ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);

}
.testimonial-slider-controllers--position {
  display: flex;
  width: 40px;
  padding: 15px;
}
.testimonial-slider-controllers-left,
.testimonial-slider-controllers-right {
  cursor: pointer;
}
.testimonial-slider-controllers-left:active {
  transform: translateX(-3px);
}
.testimonial-slider-controllers-right:active {
  transform: translateX(3px);
}


/* Testimonial content */
.testimonial-contentList {
  position: relative;
  z-index: 5;
}
.testimonial-content {
  height: 100%;
  margin-top: 55px;
  padding-top: 15px;
  text-align: center;
  font-size: .6rem;
  background: url('../images/pattern-quotes.svg') no-repeat;
  background-size: 20%;
  background-position: top center;
  transition: opacity 200ms linear, transform 100ms linear;
}
.testimonial-content:not(:first-child) {
  position: absolute;
  top: -55px;
  transform: scale(.9);
  opacity: 0;
}
.testimonial-content__paragraph {
  font-weight: 300;
  line-height: .8rem;
  margin-bottom: 15px;
}
.testimonial-content-authorInfo__name {
  font-weight: 700;
}
.testimonial-content-authorInfo__career {
  font-weight: 300;
  color: var(--grayish-blue);
}

/* footer style */
.attribution { 
  background: #f4f4fc; 
  font-size: 11px; 
  text-align: center; 
  padding: 5px;
  color: var(--grayish-blue);
}
.attribution a { color: var(--dark-blue); }


@media(min-width: 1024px) {
  .main {
    height: 100vh;
    background-size: 30%;
    background-position: left bottom;
    display: flex;
    align-items: center;
  }
  .testimonial {
    display: flex;
    flex-direction: row-reverse;
    padding: 55px 158px;
    background-size: 48%;
    background-position: 89% -7px;
  }
  .testimonial-slider {
    z-index: 4;
  }
  .testimonial-slider-images__image {
    
  }
  .testimonial-slider-images__image {
    width: 500px;
  }
  .testimonial-slider-controllers {
    left: 20%;
  }
  .testimonial-content:not(:first-child) {
    top: 0;
  }
  .testimonial-content {
    text-align: initial;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-position: 20% 18%;
  }
  .testimonial-content__paragraph {
    line-height: initial;
    grid-column: 1 / 3;
    font-size: .9rem;
    width: 120%;
    height: 0;
  }
  .testimonial-content-authorInfo {
    display: grid;
    grid-template-columns: 140px 220px;
    align-items: flex-end;
  }
  .testimonial-content-authorInfo__career {
    font-weight: 500;
    font-size: .5rem;
  }
}